*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;400&display=swap');
body,html{
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    color: #fff;
    display: grid;
    place-content: center;
    font-family: "Roboto", serif;
}

.container{
    min-width: 500px;
    width: 30vw;
    border: 1px solid #fff;
    background-color: rgba(11, 11, 11, 0.552);
    padding: 2rem;
    border-radius: 5px;
}
.title{
    color: aquamarine;
    font-size: 2rem;
}
.container .card {

    width: 100%;
    min-width: 300px;
    background-color: #091715;
    border-radius: 5px;
    padding: 2rem;
    margin-top: 1rem;
}

.card-child {
    border: 1px solid slateblue;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
}
.card-child:first-child{
    border: none;
    margin-top:0;
    padding: 0;
}

.range-input {
    width: 100%;
    height: 2px;
    appearance: none;
    background-color: #fff;
}

.range-input::-webkit-slider-thumb {

    -webkit-appearance: none;
  
    appearance: none;
  
    width: 10px;
    height: 10px;
    background-color: aquamarine;
    border-radius: 5px 5px 0px 5px;
  
   transform: translateY(-8px) rotate(45deg);
  }

.custom-message {
    text-align: center;
}

.custom-message .title {
    color: aquamarine;
    font-size: 1.5rem;
    margin-bottom: .75rem;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-container-child-2{
    margin-top: 1.25rem;
    border-radius: 5px;
    background-color: rgba(86, 119, 108, 0.249);
    padding: .5rem .75rem;
}

#finalPrice, #discountAmount, #discountPercentage {
    color: aquamarine;
}